/*Base Styles*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 769px) {

    .main-header,
    .main-header_2,
    .main-nav {
        display: flex;
    }

    .main-header {
      flex-direction: row; 
      justify-content: space-between;
      flex:1;
    }

    .main-header_2 {
      flex: 1;
    }

    .container_1 {
      display: block;
      height: auto;
      position: fixed;
      margin-top: 5%;
      width: 100%;
    }






}