/*Flex box Layout*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@media (min-width: 769px) {
  .main-header,
  .main-nav {
    display: flex;
  }

  .inside-footer {
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }

  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav {
    justify-content: space-between;
  }
}

@media (min-width: 1025px) {
  
}