/*Base Styles*/
* {
  box-sizing: border-box; 
 }
 
 
 footer span {
   color: #fff;
 }
 
 /*Navigation*/
 .main-nav {
  padding: calc(32px - 20px);
 }

 .main-nav a {
    padding: 0 1em;
 }
 
 /*Pseudo Classes*/
 
 a:link {
   color: #fff;
   text-decoration-line: none;
   font-size: 20px;
   font-style:oblique;
 }
   
 
 a:hover {
   text-decoration-line:underline;
 }
   
 
 /*Main Styles*/
 
 .main-header {
   height: 1200px;
   box-sizing: border-box;
   background-image: url("/Portfolio_Project/images/panama_sunset.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-color: #000;
   background-position: center;
 }
 

 .main-footer {
   text-align: center;
   padding: 2em;
   background-color: #000;
   height: 100px;
 }
 
 .main-footer span {
   width: 100%;
   text-align: center;
 }
 
 /*Layout Styles*/
 .name {
   margin: 0px;
   color: #fff;
 }

 p {
   text-align: center;
 }

 form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: ghostwhite;
 }
 
 fieldset {
   border: none;
 }

  legend {
  font-size: 1.2em;
  margin-bottom: 8px;
}

  label {
    display: block;
    margin-bottom:8px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 16px;
    height: auto;
    padding: 15px;
    width: 100%;
  }

 .submit-btn {
   padding: 1.5em 3em;
   width: 100%;
   color: #fff;
   background-color: #000;
   font-size: 1em;
   text-align: center;
   border-radius: 5px;
   margin: 10px auto;
   
 }
 
 .container_2 {
   display: inline-flex;
   height: 50px;
   width: 100%;
   justify-content: space-between;
   background-color: black;
 }

 /*Media Queries*/
 @media (min-width: 769px) {
   
   .main-footer {
     min-height:10vh;
   }



 
 
 }