/*Base Styles*/
* {
    box-sizing: border-box; 
   }
   
   footer span {
     color: #fff;
   }
   
   /*Navigation*/
   .name,
   .main-nav,
   .main-nav li {
     display: block; 
   }
   
   .main-nav,
   .main-nav li { 
     padding-right: 1em;
     float: left;
   }
   
   
   /*Pseudo Classes*/
   
   a:link {
     color: #fff;
     text-decoration-line: none;
     font-size: 20px;
     font-style:oblique;
   }
     
     
   
   /*Main Styles*/
   
   .main-header {
     height: 600px;
     box-sizing: border-box;
     background-image: url("/Portfolio_Project/images/lou_bridge.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-color: #000;
     background-position: center;
     margin-top: 2em;
   }
   
   .main-footer {
     text-align: center;
     padding: 2em;
     background-color: #000;
     height: 100px;
   }
   
   
   /*Layout Styles*/
   
   
   
   /*Media Queries*/
   @media (min-width: 769px) {
     
     .main-footer {
       min-height:10vh;
     }
   
     .name,
     .main-nav,
     .main-nav li {
       display: inline-block;
    }
   
     .name {
       float: left;
       margin: 0;
    }
   
     .main-nav {
       float: right;
       padding-top: 14px;
       
    }
   
     .container {
       width: 70%;
       max-width: 1000px;
       margin: 0 auto;  
     }
   
   
   
   }